name: Test

on:
  pull_request:
    branches:
    - master

jobs:
  build:

    runs-on: macOS-latest

    steps:
      - uses: webfactory/ssh-agent@v0.1.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - uses: actions/checkout@v1
      - run: brew install fastlane
      - run: pod install
      - run: fastlane testLane
